body
{
    display: grid;
    grid-template-columns: 1fr, 1fr, 1fr;
    text-align: center;
    justify-content: center;
    background-color: #a6a6a6;
    margin: 0;
    color: white;
}

.link
{
    color: #007eff;
    text-align: center;
}

.link:hover
{
    color: #7000ff;
    transition: .1s;
}

.link:visited
{
    color: #550404;
    transition: .1s;
}

.box
{
    background-color: #5b5b5b;
    border: 3px solid black;
    border-radius: 10%;
}
