body
{
    background-color: #a6a6a6;
    margin: 0;
    color: #1b5dac;
}

#Title
{
    display: flex;
    justify-content: center;
}

.link
{
    color: #007eff;
    text-align: center;
}

.link:hover
{
    color: #7000ff;
    transition: .1s;
}

.link:visited
{
    color: #550404;
    transition: .1s;
}

.box
{
    background-color: #5b5b5b;
    border: 3px solid black;
    border-radius: 10%;
}
